<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상세정보</title>
</head>
<body>
{% extends 'base.html' %}
    {% block content %}
    <div class=row>
        <form class="form-inline" action="{% url 'search' %}" method="post" style="text-align: center; margin: 0auto; margin-top: 10px">
            {% csrf_token %}
            <div class=col>
                <input class="form-control-lg" type="search" placeholder="가수나 제목" aria-label="Search" name="q" value="{{q}}">
                <button class="btn btn-primary" type="submit">검색</button>
            </div>
        </form>

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h2>{{ song.title }}</h2></li>
            <li class="list-group-item">앨범:  {{ song.album }}</li>
            <li class="list-group-item">가수:  {{ song.artist }}</li>
            <li class="list-group-item">장르:  {{ song.genre }}</li>
            <li class="list-group-item">출시일:  {{ song.dates }}</li>
            <li class="list-group-item">가사:  {{ song.lyrics }}</li>
            <li class="list-group-item">태그:  {{ song.tag }}</li>
        </ul>
        </div>
    {% endblock %}
</body>
</html>