<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <meta charset="UTF-8">
    <title>SongForYou</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">SongForYou</a>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'favorite' %}">선호장르</a>
        </li>
        {% if request.session.user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">로그아웃</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">로그인</a>
        </li>
        {% endif %}
    </ul>

</nav>
<br>
<div class="container">

        {% block content %}

        {% endblock %}

</div>
</body>
</html>