<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>favorite</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<h1>선호장르선택</h1>
<br>
    {% for genre in genres %}

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="Check" name="answer[]">
            <label class="form-check-label" for="Check">
                {{ genre }}
            </label>
        </div>

    {% endfor %}
    <br>
    <button type="submit" class="btn btn-dark">저장</button>

{% endblock %}

</body>
</html>