<head>
    <meta charset="UTF-8">
    <title>SongForYou</title>
</head>
{% extends "base.html" %}
{% block content %}
 <form class="form-inline" action="{% url 'search' %}" method="post" style="text-align: center; margin: 0auto; margin-top: 100px">
    <div class=col>
        <input class="form-control-lg" type="search" placeholder="가수나 제목" aria-label="Search" name="q" value="{{q}}">
        <button class="btn btn-primary" type="submit">검색</button>
    </div>
 </form>
<div class="row mt-5">
  <div class=col style="text-align: center; margin: 0auto;">
    <button type="button" class="btn btn-secondary">태그1</button>
    <button type="button" class="btn btn-secondary">태그2</button>
    <button type="button" class="btn btn-secondary">태그3</button>
    <button type="button" class="btn btn-secondary">태그4</button>
    <button type="button" class="btn btn-secondary">태그5</button>
  </div>
  <div class="col-12 text-center" style="margin-top: 10px">
    <a href="{% url 'recommend' %}" class="btn btn-primary btn-lg btn-block">추천페이지</a>
  </div>
</div>
{% endblock %}