{% extends "base.html" %}
{% block content %}
<div class="row mt-5">
    <div class="col-12 text-center">
      <h1>회원가입</h1>
    </div>

    <div class = "row mt-5">
        <div class = "col-12">
            {{ error }}
        </div>
    </div>

    <div class="col-12">
       <form method="POST" action=".">
           {% csrf_token %}
          <div class="form-group">
            <label for="username">사용자</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="username"
                name="username"
              />
          </div>
          <div class="form-group">
            <label for="password">비밀번호</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="password"
                name="password"
              />
          </div>
           <div class="form-group">
            <label for="re_password">비밀번호 확인</label>
              <input
                type="password"
                class="form-control"
                id="re_password"
                placeholder="re_password"
                name="re_password"
              />
          </div>
          <div class="row">
              <div class="form-group">
                <label for="pregenre1">선호장르1</label>
                <select class="form-control" id="pregenre1" name="pregenre1">
                    {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="pregenre2">선호장르2</label>
                <select class="form-control" id="pregenre2" name="pregenre2">
                    {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="pregenre3">선호장르3</label>
                <select class="form-control" id="pregenre3" name="pregenre3">
                    {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
              </div>
           </div>
          <button type="submit" value="Select" class="btn btn-primary">등록</button>
        </form>
    </div>
</div>
{% endblock %}